// colors
$white: #ffffff;
$black: #000000;
$green: #80ba27;

// fonts
$font-circe: Circe, Arial, sans-serif;

// animations
$transition-normal: 0.3s linear;
$transition-fast: 0.1s linear;

// breakpoints-left
$desktop: 1200px;
$tablet: 960px;
$mobile: 720px;