.wantBe {
  background-color: #f8f8f8;
  padding-bottom: 45px;
}

.wantBe__titleText {
  padding-top: 148px;
}

.wantBe__title {
  width: 398px;
  height: 24px;
  font-family: Circe;
  font-size: 32px;
  font-weight: 300;
  line-height: 0.75;
  margin: 0 auto;
  margin-bottom: 28px;
}

.wantBe__titleDesc {
  width: 540px;
  height: 50px;
  font-family: Circe;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 46px;
}

.wantBe__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 124px;
}

.wantBe__button {
  width: 180px;
}

.wantBe__button:first-child {
  margin-right: 22px;
}

.wantBe__button.isActive {
  background-color: #7bb637;
  color: white;

  &:hover {
    background: #93d645;
  }
}

.wantBe__buttonText {
  width: 107px;
  height: 14px;
  font-family: Circe;
  font-size: 12px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
}

.wantBe__footer {
  display: flex;
  padding: 0 140px;
  justify-content: space-between;
  color: #7d7d7d;
  //height: 38px;
}

.footer__logo {

}

.footer__contacts {
  display: flex;
  align-items: center;
}

.footer__link {
  font: 300 13px/1.08 $font-circe;
  color: #7d7d7d;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    color: $green;
  }
}

.footer__loginButton {
  display: inline-block;
  width: 128px;
  height: 38px;
  border-radius: 100px;
  border: solid 1px #dfdfdf;
  font-family: Circe;
  font-size: 13px;
  line-height: 38px;
  text-align: center;
  color: #000000;

  &:hover {
    background-color: #dfdfdf;
  }
}

//@media (max-width: 768px) {
//    .wantBe__footer {
//      padding: 0 49px;
//    }
//}

@media (max-width: $mobile) {
  .wantBe__titleText {
    padding-top: 32px;
  }
  .wantBe__title {
    width: 270px;
    height: 66px;
    font-size: 24px;
    text-align: center;
    line-height: 1.38;
    margin-bottom: 28px;
  }

  .wantBe__titleDesc {
    width: 270px;
    height: 63px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 38px;
  }

  .wantBe__buttons {
    display: block;
    max-width: 270px;
    margin: 0 auto 47px;

    .wantBe__button {
      &:first-child {
        margin-right: 0px;
      }
    }
  }

  .wantBe__footer {
    flex-direction: column;
  }

  .footer__contacts {
    flex-direction: column;

    .footer__link {
      font-size: 16px;

      &:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 24px;
      }
    }
  }

  .footer__email {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .footer__tel {
    //margin-bottom: 36px;
  }

  .footer__logo {
    margin-bottom: 39px;
  }

  .footer__loginButton {
    display: none;
  }
}