.howItWorks {
  padding-top: 78px;
  padding-bottom: 124px;
  border-bottom: solid 3px #e5e5e5;
  overflow: hidden;
}

.howItWorks__title {
  height: 38px;
  font-family: $font-circe;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.19;
  text-align: center;
  color: #000000;
  margin: 0 auto 44px;
}

.howItWorks__tabsButtons {
  display: flex;
  max-width: 450px;
  height: 50px;
  margin: 0 auto 72px;
}

.howItWorks__tabsButton {
  flex-basis: 50%;
  height: 50px;
  color: #000000;
  background-color: #f8f8f8;
  cursor: pointer;

  &--left {
    border-radius: 75px 0 0 75px;
  }

  &--right {
    border-radius: 0 75px 75px 0;
  }

  &.is-active {
    background-color: #7bb637;
    box-shadow: 0 10px 25px 0 #7bb637;
    color: #ffffff;
    z-index: 1;
    cursor: default;
  }
}

.howItWorks__buttonText {
  height: 14px;
  font: 800 12px/4.17 $font-circe;
  text-align: center;
}

// tabs
.howItWorks__tabs {

}

.howItWorks__tab {
  display: none;

  &.is-active {
    display: block;
  }
}

.howItWorks__cols {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.howItWorks__col {
  flex-basis: 50%;
  width: 50%;
  //position: relative;
  &--img {

  }
}

// slider
.howItWorks__sliderLeft {
  position: relative;
  padding-bottom: 50px;

  .slick-arrow {
    position: absolute;
    bottom: 0;
    width: 46px;
    height: 46px;
    font: 0/0 $font-circe;
    background: url('../img/arrow.svg') no-repeat center center;
    cursor: pointer;
  }

  .slick-next {
    left: 50%;
    margin-left: 5px;
    transform: rotate(180deg);
  }

  .slick-prev {
    right: 50%;
    margin-right: 5px;
  }


}

.howItWorks__sliderLeftSlide {
  text-align: center;


}

.howItWorks__sliderStep {
  margin: 0 auto 23px;
  font: 13px/1.08 $font-circe;
  color: #b8b8b8;
}

.howItWorks__sliderTitle {
  margin: 0 auto 98px;
  font: 700 20px/1.08 $font-circe;
}

.howItWorks__sliderImgWrapper {
  text-align: center;
}

.howItWorks__sliderImg {
  margin: 0 auto;
  //box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.15), inset 0 1px 3px 0 rgba(255, 255, 255, 0.53);
}

.howItWorks__sliderDesc {
  margin: 0 auto 43px;
  max-width: 330px;
  font: 300 16px/1.5 $font-circe;
  font-size: 16px;
  z-index: 10;
}


.howItWorks__sliderRight {
  padding: 31px 24px 37px 21px;
}

.howItWorks__sliderRightSlide {

}

@media (max-width: $mobile) {
  .howItWorks__col {
    flex-basis: 100%;
    width: 100%;
    position: relative;

    &--img {
      display: none;
    }
  }
  .howItWorks__sliderImgWrapper {
    position: relative;
    z-index: -5;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -225px;
      width: 320px;
      height: 284px;
      transform: translateX(-160px);
      background-color: #ffffff;
      z-index: 5;
    }
    &::after {
      content: "";
      width: 262px;
      height: 312px;
      //display: block;
      position: absolute;
      top: -79px;
      //left: 50%;
      transform: translateX(-131px);
      background: url("../img/mobile.png") no-repeat center center;
    }
  }
}

.PC-top {
  width: 597px;
  height: 414px;
  //position: relative;
  border: solid 4.4px rgba(255, 255, 255, 0.25);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
                    linear-gradient(to bottom, #eeeeee, #eeeeee);
  background-blend-mode: color, normal;
  border-radius: 25px;
  margin: 0 auto;
  z-index: -1;
  transform: translate(67px, 10px);
}

.PC-slide {
  position: absolute;
  width: 553px;
  height: 346px;
  top: 28px;
  left: 17px;
  //display: none;
}

.PC-bottomFront {
  margin: 0 auto;
  width: 730px;
  height: 3px;
  position: relative;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  background-blend-mode: color, normal;
  background-image: linear-gradient(to left, #000000, rgba(255, 255, 255, 0.5) 50%, #000000),
                    linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  z-index: 1;

  &:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 6px;
    background-blend-mode: soft-light, color, color, normal;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #ffffff),
                      linear-gradient(to top, rgba(0, 0, 0, 0), #000000),
                      linear-gradient(to bottom, #000000, #999999),
                      linear-gradient(to bottom, #fafafa, #fafafa);
    border-radius: 0 0 50% 50%;
  }
}

.PC-bottom {
  display: block;
  width: 730px;
  height: 14px;
  position: relative;
  overflow: hidden;
}

.PC-bottomIn {
  width: 730px;
  height: 28px;
  margin: 0 auto;
  background-image: linear-gradient(to top, #d0d0d0, #e7e7e7);
  border-radius: 0 0 50% 50%;
  transform: translateY(-14px);
}

.howItWorks__mobile {
  display: none;
  margin: 0 auto;
  position: absolute;
}

@media (max-width: $mobile) {
  .howItWorks__mobile {
    display: block;
    left: 50%;
    transform: translateX(-131px) translateY(16px);
  }
}

//
//.mobileLine {
//  width: 31px;
//  height: 3px;
//  background-color: #d8d8d8;
//  margin: 24px auto 20px auto;
//  border-radius: 3px;
//}
//
//.mobile-slide {
//  display: none;
//  width: 171px;
//  height: 316px;
//}
//
////img.mobileSlide {
////  display: none;
////}
//
//@media (max-width: 1023px) {
//  .howItWorks {
//    padding-bottom: 75px;
//  }
//
//  .howItWorks__tabsButtons {
//    margin-bottom: 47px;
//  }
//
//  .howItWorks__tab {
//    position: relative;
//    justify-content: center;
//  }
//
//  .howItWorks__col {
//    //position: relative;
//    margin-right: 0;
//  }
//
//  .howItWorks__sliderTextTitle {
//    margin-bottom: 424px;
//  }
//
//  .howItWorks__sliderTextDisc {
//    margin-bottom: 0;
//  }
//
//  .howItWorks__sliderText:not(:first-of-type) {
//    position: absolute;
//    padding-top: 0px;
//    top: 0;
//    left: 0;
//  }
//
//  .howItWorks__sliderLeft {
//    padding-top: 0;
//  }
//
//  .howItWorks__sliderButtons {
//    position: absolute;
//    left: 50%;
//    top: 40%;
//    width: 668px;
//    transform: translateX(-334px);
//    justify-content: space-between;
//  }
//
//  .howItWorks__sliderRight {
//    position: absolute;
//    transform: scale(0.8);
//    top: 39px;
//  }
//}

//@media (max-width: 740px) {
//  .howItWorks {
//    padding-bottom: 32px;
//  }
//
//  .howItWorks__title {
//    width: 270px;
//    height: 33px;
//    font-size: 24px;
//    line-height: 1.38;
//  }
//
//  .howItWorks__tabsButtons {
//    margin-bottom: 43px;
//    width: 270px;
//    height: 48px;
//  }
//
//  .howItWorks__merchantButton {
//     width: 135px;
//     height: 48px;
//   }
//
//  .howItWorks__buyerButton {
//    width: 135px;
//    height: 48px;
//  }
//
//  .howItWorks__buttonText {
//    width: 135px;
//    height: 14px;
//    font-size: 10px;
//    line-height: 49px;
//  }
//
//  .howItWorks__sliderRight {
//    display: none;
//  }
//
//  .howItWorks__mobile {
//    display: block;
//    position: absolute;
//    top: 100px;
//    left: 50%;
//    transform: translateX(-131px);
//
//  }
//
//  .howItWorks__sliderButtons {
//    position: relative;
//    left: 0;
//    top: 0;
//    margin: 0 auto;
//    width: 103px;
//    transform: none;
//    justify-content: center;
//  }
//
//  .howItWorks__col {
//    position: relative;
//  }
//
//  .mobile-slide {
//    display: block;
//    position: absolute;
//    top: 186px;
//    left: 50%;
//    transform: translateX(-86px);
//  }
//
//  .howItWorks__sliderTextDisc {
//    margin-bottom: 27px;
//  }
//}