.worksWith {
  text-align: center;
  padding-top: 70px;
}

.worksWith__title {
  //width: 486px;
  //height: 38px;
  //margin: 0 auto;
  //margin-bottom: 91px;
  font-family: Circe;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.19;
  color: #000000;
}

.worksWith__comments {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 88px;
  justify-content: center;
}

.worksWith__comment {
  flex-basis: 50%;
  //position: relative;
}

.worksWith__commentText {
  //width: 350px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 31px;
  margin-top: 90px;
  font-family: Circe;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
}

.worksWith__commentAutor {
  //position: absolute;
  width: 210px;
  height: 14px;
  margin: 0 auto;
  margin-bottom: 9px;
  font-family: Circe;
  font-size: 16px;
  line-height: 0.88;
  color: #80ba27;
}

.worksWith__commentOrg {
  //position: absolute;
  width: 210px;
  height: 14px;
  margin: 0 auto;
  font-family: Circe;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: #969696;
}

.worksWith__logos {
  display: flex;
  justify-content: center;
  padding: 0 18.5%;
  border-top: 2px solid #e5e5e5;
  //transform: translateX(1px);
}

.worksWith__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  height: 140px;
  border-right: 2px solid #e5e5e5;

  &:first-child {
    border-left: 2px solid #e5e5e5;
  }
}

.worksWith__logoImage {
  height: 22%;
}

@media (max-width: $desktop) {
  .worksWith__logos {
    padding: 0;
  }

  .worksWith__logo {
    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }
}

@media (max-width: $mobile) {
  .worksWith__comments {
    &.content {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  .worksWith__comment {
    flex-basis: 100%;
  }

  .worksWith__logos {
    flex-wrap: wrap;
  }

  .worksWith__logo {
    flex-basis: 50%;
    height: 110px;
    border: 0;
    border-bottom: 2px solid #e5e5e5;

    &:nth-child(2n+1) {
      border-right: 2px solid #e5e5e5;
    }
    &:nth-last-child(1),
    &:nth-last-child(2) {
      border-bottom: 0;
    }
  }

  .worksWith__logoImage {
    height: 40%;
  }
}

@media (max-width: 500px) {
  .worksWith__logo {
    height: 72px;
  }
}

@media (max-width: 425px) {
  .worksWith__title {
    font-size: 24px;
  }

  .worksWith__commentText {
    font-size: 14px;
  }

  .worksWith__commentAutor {
    font-size: 16px;
  }

  .worksWith__commentOrg {
    font-size: 14px;
  }
}