.linkButton {
  display: inline-block;
  width: 181px;
  height: 50px;
  border-radius: 100px;
  font: 800 12px/52px $font-circe;
  text-align: center;
  color: white;
  transition: all .3s linear;

  &--green {
    background: #7bb637;

    &:hover {
      background: #93d645;
    }
  }

  &--whiteTransparent {
    border: solid 2px #ffffff;
    line-height: 50px;

    &:hover {
      background: white;
      color: #333333;
    }
  }

  &--greenTransparent {
    line-height: 50px;
    color: $black;
    border: solid 2px #7bb637;

    &:hover {
      background-color: #7bb637;
      color: $white;
    }
  }
}
